Exploración inicial del dataset:

•	Cargar los datos con Pandas y usar funciones como .isnull(), .duplicated(), y .value_counts() sobre la columna “City”.

In [49]:
import pandas as pd
import numpy as np

df = pd.read_csv("CSV Laboratorio 3 AD-B.csv")

print("\nValores nulos en columna 'City':")
print(df['City'].isnull().sum())
print("\nValores duplicados en columna 'City':")
print(df['City'].duplicated().sum())
print("\nCantidad de registros por ciudad en columna 'City':")
print(df['City'].value_counts())

Valores nulos en columna 'City':
15

Valores duplicados en columna 'City':
55

Cantidad de registros por ciudad en columna 'City':
City
Chicago        13
Houston        13
New York       12
Los Angeles     7
Name: count, dtype: int64

•	Eliminar o reemplazar valores nulos (fillna, dropna).

In [50]:
df.dropna(inplace=True)

•	Eliminar duplicados con .drop_duplicates().

In [51]:
df.drop_duplicates(inplace=True)

•	Normalización de formatos en columnas (e.g., convertir texto a minúsculas, estandarizar fechas al formato AAAA/MM/DD con pd.to_datetime).

In [52]:
Fecha_formateada = pd.to_datetime(df['Date'], format='mixed')
df['Date'] = Fecha_formateada

•	Estandarizar formato de “Category”.

In [53]:
Categoria_formateada = df['Category'].str.upper().str[-1]
df['Category'] = Categoria_formateada

-	Validación del dataset limpio: Revisar nuevamente el dataset para asegurar que los problemas han sido corregidos.

In [54]:
print("\nValores nulos en columnas:")
print(df.isnull().sum())
print("\nValores duplicados en columnas':")
print(df.duplicated().sum())

Valores nulos en columnas:
ID          0
Name        0
Category    0
City        0
Value       0
Date        0
dtype: int64

Valores duplicados en columnas':
0

-	Exportar el dataset limpio en extensión CSV ya que se usará para el siguiente laboratorio.

In [57]:
df.to_csv("CSV Laboratorio 3 AD-B_limpio.csv")